<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
  <title>ArchibotApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<%= link_to "Home", root_path %>
<%= link_to("My Profile", user_path(User.find_by(id:session[:user_id]).id)) unless session[:user_id].nil? %> 
<%= link_to("Please Log In","/login") if session[:user_id].nil? %>
<%= link_to("Log Out #{User.find_by(id:session[:user_id]).first_name}!", "/sessions", method:"delete") unless session[:user_id].nil? %>
</header>

<%= yield %>

</body>
</html>
