
<h2>Welcome <%=@user.first_name%>!</h2>
<h3><%=link_to("Browse the database", architects_path)%></h3>

<p>Full Name:
  <%=@user.first_name%><%=@user.last_name%></p>

<p>Email Address:
  <%=@user.email%></p>

<p>Favorite Buildings</p>
<ul>
  <% @favorites.each do |building| %>
    <li><%=link_to("#{building.name}", architect_building_path(building.architect.id, building.id))%></li>
  <%end%>
</ul>

<p>Favorite Architects</p>
<ul>
<% @favorite_architects.each do |architect| %>
<li><%=link_to("#{architect.name}", architect_path(architect.id))%></li>
<%end%>
</ul>
<br>

<% if current_user %>
  <%= link_to("Edit My Info", edit_user_path(@user))%>
  <%= form_tag user_path(@user), method: "delete" do%>
    <%= submit_tag("Delete Account")%>
  <%end%>
<%end%>

<br>

