<br>
<div class="building-title">
  <h2><%= @building.name%></h2>
  <h3>Year Constructed: <%= @building.year_built%></h3>
  <h3>Architect: <%=link_to("#{@building.architect.name}", architect_path(@building.architect.id) )%></h3>
</div>
<div class="favorite">
  <% if current_user %>
    <% if !current_user.buildings.include?(@building)%>
      <%= link_to "favorite", favorite_path, method: :post %>
    <% else %>
      <%= link_to "unfavorite", unfavorite_path, method: :post %>
    <% end %>
  <% end %>
  <%= link_to "Create Trip", new_user_trip_path(current_user) %>
</div>

<div class="bigphoto"><img src="<%= @building.photo_url %>"></div>

<div class="building-description">
  <p><%=@building.description%></p>
</div>

<div class="closebldgs">
  <div class="map">
    <img src="<%= @map %>">
  </div class="map">
  <div class="bldglist">
    <span>Other buildings in the database close to this one:</span>
      <ul>
        <% if !@buildings_nearby[0].nil? %>
          <% @buildings_nearby.each do |building| %>
            <li><%=link_to("#{building.name}", architect_building_path(building.architect.id, building.id)) %></li>
          <%end%>
          <%else%>
        <%end%>
      </ul>
  </div>
</div>
<br>
<% if current_user %>
<%=link_to("edit", edit_architect_building_path(@architect,@building)) %>
<%end%>
<% unless @location == nil %>
  <br>Some photos taken near this location, from instagram:<br>
  <% @photos.each do |photo| %>
    <div class="insta">
    <img src = "<%=photo%>">
    </div class="insta">
  <%end%>
<%end%>
<br>
<br>
<% if @user = admin? %>
  <%= form_tag architect_building_path(@architect, @building), method: "delete" do %>
  <%= submit_tag("Delete") %>
<% end %>
<%end%>
<br>
<br>
