<br>
<h2><%= @building.name%></h2>
<br>
Year Constructed: <%= @building.year_built%>
<br>
<div>
<img src="<%= @building.photo_url %>">
<div>
<br>

Other buildings in the database close to this one:
<ul>
  <% if !@results[0].nil? %>
<% @results.each do |building| %>
<li><%=link_to("#{building.name}", architect_building_path(building.architect.id, building.id)) %></li>
<%end%>
<%else%>
<%end%>
<br>


<% if current_user %>
  <%= link_to "favorite", favorite_path, method: :post %>
  <%= link_to "unfavorite", unfavorite_path, method: :post %>
<% end %>


<%=link_to("edit", edit_architect_building_path(@architect,@building)) %>
<% unless @location == nil %>
<br>Some photos taken near this location, from instagram:<br>
<% @photos.each do |photo| %>
<img src = "<%=photo%>">
<%end%>
<%end%>
<br>

<div class="map">
<img src="<%= @map %>">
</div class="map">

<br>
<% if @user = admin? %>
<form action="/architects/<%= @architect.id %>/buildings/<%= @building.id%>" method="POST" >
  <input type="hidden" name="_method" value="DELETE" />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <button>Delete this building</button>
</form>
<%end%>
