<br>
<%= @building.name%>
<br>
<%= @building.year_built%>
<br>
<img src="<%= @building.photo_url %>">
<br>

Other buildings in the database close to this one:
<ul>
  <% if !@results[0].nil? %>
<% @results.each do |building| %>
<li><%=link_to("#{building.name}", architect_building_path(building.architect.id, building.id)) %></li>
<%end%>
<%else%>
<%end%>
<br>


<%=link_to("edit", edit_architect_building_path(@architect,@building)) %>
<% unless @location == nil %>
<br>Some photos taken near this location, from instagram:<br>
<% @photos.each do |photo| %>
<img src = "<%=photo%>">
<%end%>
<%end%>
<br>
<img src="<%= @map %>">

<br>
<form action="/architects/<%= @architect.id %>/buildings/<%= @building.id%>" method="POST" >
  <input type="hidden" name="_method" value="DELETE" />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <button>Delete this building</button>
</form>
