<br>
<h2><%= @building.name%></h2>
<br>
Year Constructed: <%= @building.year_built%>
<br>
<div>
<img src="<%= @building.photo_url %>">
<div>
<br>

Other buildings in the database close to this one:
<ul>
  <% if !@results[0].nil? %>
<% @results.each do |building| %>
<li><%=link_to("#{building.name}", architect_building_path(building.architect.id, building.id)) %></li>
<%end%>
<%else%>
<%end%>
<br>


<% if current_user %>
<% if !current_user.buildings.include?(@building)%>
  <%= link_to "favorite", favorite_path, method: :post %>
  <% else %>
  <%= link_to "unfavorite", unfavorite_path, method: :post %>
  <% end %>
<% end %>


<div class="map">
<img src="<%= @map %>">
</div class="map">

<br>
<%=link_to("edit", edit_architect_building_path(@architect,@building)) %>
<% unless @location == nil %>
<br>Some photos taken near this location, from instagram:<br>
<% @photos.each do |photo| %>
<div class="insta">
<img src = "<%=photo%>">
</div class="insta">
<%end%>
<%end%>
<br>

<br>

<% if @user = admin? %>
<%= form_tag architect_building_path(@architect, @building), method: "delete" do %>
  <%= submit_tag("Delete") %>
  <% end %>
<%end%>


